<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!-- 
================================================================================
/**
 * logback config apply order
 * 1. logback-test.xml
 * 2. logback.groovy
 * 3. logback.xml
 */
================================================================================
/**
 * log level
 * - TRACE : TRACE + DEBUG + INFO + WARN + ERROR
 * - DEBUG : DEBUG + INFO + WARN + ERROR
 * - INFO  : INFO + WARN + ERROR
 * - WARN  : WARN + ERROR
 * - ERROR : ERROR
 * - OFF   : 
 */
================================================================================
 * configuration menual : [https://logback.qos.ch/manual/configuration.html]
================================================================================
 -->
<configuration debug="true" scan="true" scanPeriod="1 minutes">

	<!-- ROOT log level -->
	<property name="ROOT_LOG_LEVEL" value="TRACE" />
	
	<!-- Custom log level -->
	<property name="CUSTOM_LOG_LEVEL" value="TRACE" />
	
	<!-- Config log level -->
	<property name="CONFIG_LOG_LEVEL" value="TRACE" />
	
	
	<appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{MM-dd HH:mm:ss.SSS}] %-5level %-40logger{40}[%thread] \(%5line\) - %msg%n</Pattern>
		</layout>
	</appender>
	
	<!-- File log setting -->
	<property name="LOG_PATH" value="/root/flip-chat-server/logs/" />
	<property name="LOG_FILE_PREFIX" value="flip-chat-server" />
	<property name="LOG_FILE_EXTENSION" value=".log" />
	<property name="LOG_FILE_NAME" value="${LOG_PATH}/${LOG_FILE_PREFIX}" />
	
	<appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_NAME}${LOG_FILE_EXTENSION}</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_NAME}.%d{yyyyMMdd}.%i${LOG_FILE_EXTENSION}.gz</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<Pattern>[%d{MM-dd HH:mm:ss.SSS}] %-5level %-40logger{40}[%thread] \(%5line\) - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="com.flipchat.server" level="${CUSTOM_LOG_LEVEL}" />
	
	<root level="${ROOT_LOG_LEVEL}">
		<appender-ref ref="CONSOLE_LOG" />
		<!-- <appender-ref ref="FILE_LOG" /> -->
	</root>
	
</configuration>
